{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% if category %}

{{ category.description|truncatewords:155}}

{% else %}

Welcome to eCartshopppe

{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }} -eCart Shoppe
{% else %}
see our new collections
{% endif %}
{% endblock %}

{% block content %}

{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto my_headig">
            <p><a href="{% url 'shop:allProdCat_page' %}">Our Product Collections</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if category %}

<div class="mx-auto">
    <img class="my_image my_image_padding" src="{{category.image.url}}" alt="{{category.name}}">
</div>


<br>
<div class="text-center">
    <h1 class=" my_title">{{category.name}}</h1>
    <p class="text-center">{{category.description}}</p>
</div>
{% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products">
</div>
<br>
<h1 class="text-center my_title">Our products Collections</h1>
<p class="text-justify px-5">It is a long established fact that a reader will be distracted by the readable content of a
    page
    when looking at its
    layout.
    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
    as opposed to using 'Content here, content here', making it look like readable English.</p>
{% endif %}
<div>
    <div class="conatainer">
        <div class="row mx-2">
            {% for product in products.object_list %}
            <div class="my_bottom_margin  col-sm-12 col-md-4  border-right border-bottom p-5 ">
                <div class="card border-0">
                    <div class="row">
                        <div class="text-center mx-auto ">
                            <a href="{{product.get_url}}">
                                <img class="card-img-top my_card_img " src="{{product.image.url}}" alt="product.name"
                                    height="180px" width="240px">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="text-center">
                        <h4><b>{{product.name}}</b></h4>
                        <p>Rs.{{product.price}} /-</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto my-5">

            {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}"
                    class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>

            {% endif %}

        </div>
        <br>
    </div>
</div>

{% endblock %}
<!-- cat 5 nxt -->