{% load static %}

<!-- <header class="p-2 " style="background-color: #1b63d6;height: 40px;">
    <div class="row">
        <div class="col pb-3">
            <div class="float-start"> <img
                    src="{% static 'img/logo.jpg' %}"
                    alt="" height="30px" class="rounded shadow"></div>
            <div class="float-start mx-4 ">
                <h5 class="text-white text-center inline font-robo">eCart Online Shoppe</h5>
            </div>
        </div>
    </div>
</header> -->

<div>
    <center>
        <a href="{% url 'shop:allProdCat_page' %}"><img src="{% static 'img/logo.jpg' %}" alt="" height="50px"></a>
    </center>
</div>